---
layout: default
title: TCBC & CMI Cambodia Mission
header_background_image: 'images/header.jpg'
newsletter_background_image: 'https://source.unsplash.com/njQ-fbNxpTk/2000x1322?a=.png'
author.image: images/wooly.jpg
---
<header style="background-image: url({% include relative-src.html src=page.header_background_image %});">
	<div class="container">
		<h1 class="editable">柬埔寨短宣2019-2020</h1>
		<h3 class="editable">Cambodia Short-Term Mission Trip 2019-2020</h3>
		<div class="button">
			<a href="#donate">现在奉献<br />Donate Now</a>
		</div>
	</div>
	<div class="learn-more"><a href="#learn-more">了解更多<br />Learn more <span class="arrow">&#x25BC;</span></a></div>
</header>

<section id="learn-more">
	<div class="container">
		<h2 class="editable">为什么要在柬埔寨宣教？<br />Why Mission in Cambodia</h2>

		<ul class="thirds">
			<li>
				<div class="image"><img class="editable" alt="move" src="{{ site.baseurl }}/images/people.svg" /></div>
				<h3 class="editable">The Door is Open</h3>
				<p class="editable">Cambodia is still very open to have Christian missionaries come. There is no better time to go
					than now</p>
			</li>

			<li>
				<div class="image"><img class="editable" alt="vision" src="{{ site.baseurl }}/images/trend.svg" /></div>
				<h3 class="editable">Church Growing</h3>
				<p class="editable">Churches in Cambodia are still in their early stage of formation. It would be a real blessing
					and joy for us to visit, encourage, and pray for the local Christians</p>
			</li>

			<li>
				<div class="image"><img class="editable" alt="love" src="{{ site.baseurl }}/images/heart.svg" /></div>
				<h3 class="editable">The Future</h3>
				<p class="editable">50% of the population is under 22 years old. We hope to reach out to these young people who are
					the future of the country</p>
			</li>
		</ul>
	</div>
</section>

<section>
	<div class="container mission">
		<h2 class="editable">我们的事工<br />Our Mission</h2>
		<p class="editable"><img alt="mission" width="300" height="202" src="https://source.unsplash.com/WBMPlClVp10/300x202" />"Therefore
			go and make disciples of all nations, baptizing them in the name of the Father and of the Son and of the Holy
			Spirit" - Matthew 28:19<br /><br />In short our mission is to learn about what God is doing in Cambodia and be part
			of his work there, especially among the young population of the country through partnerships with the local churches
			and missionaries.<br /><br />Our team first went to Cambodia during the winter break of 2014 and has gone back every
			winter break since then. Many of the team members have been involved in children, youth and young adult ministries.
			And God has opened doors for us in Cambodia to work with local churches and ministries that reach out to these same
			groups of people &ndash; the young who are the future of the country.<br /><br />The reason we go during the winter
			break is that we would like to have university students join the trip.<br /><br />For each team member, this short
			mission trip is a part of our discipleship journey as a disciple of Jesus. We follow the examples of Jesus, and the
			early Christians such as Paul, Peter, Timothy, who were willing to share the gospel with those who are different
			from them in an unfamiliar environment.<br /><br />This mission trip is such a transforming journey. On the one
			hand, we &ndash; the goers - are being transformed. We go there with an open heart and attitude to learn through
			what we see, the individuals we listen to, and all that we pray for. On the other hand, by God&rsquo;s grace we are
			transforming lives there through our visiting, sharing, listening, and praying.</p>
	</div>
</section>

<section>
	<div class="container">
		<iframe width="100%" height="563" src="https://www.youtube.com/embed/3rqQ9ywoFOc" frameborder="0" allowfullscreen></iframe>
	</div>
</section>

<section>
	<div class="container">
		<h2 class="editable">事工更新<br />Mission Updates</h2>
		<p class="editor-link"><a href="cloudcannon:collections/_posts" class="btn"><strong>&#9998;</strong> Add Update</a></p>
		{% for post in site.posts %}
		{% assign author_id = post.author_staff_member | prepend: "/staff_members/" | append: "/" %}
		{% assign author = site.staff_members | where: "url", author_id | first %}
		<div class="post">
			<div class="post-title">
				<img src="images/wooly.jpg" alt="NA" width="50" height="50" />
				<h3>{{ post.title }}</h3>
				<p class="date">{{ post.date | date: '%B %d, %Y' }}</p>
			</div>
			{{ post.content }}
			<p class="editor-link"><a href="cloudcannon:collections/{{ post.path }}" class="btn"><strong>&#9998;</strong> Edit
					Update</a></p>
		</div>
		{% endfor %}
	</div>
</section>

<section id="donate">
	<div class="container">
		<h2 class="editable">奉献事工<br />Donate to Our Missions</h2>
		<!-- <div class="donate">
			<h3>柬埔寨一天一元<br />One Dollar A Day</h3>
			<A HREF="https://www.canadahelps.org/en/dn/35706" target="_blank"><IMG SRC="https://www.canadahelps.org/image/DonateNowLink/en/Donate3.png"
				 BORDER="0" ALT="Fundraise Now Through CanadaHelps.org!" /></A>
		</div> -->
		<div class="donate">
			<h3>柬埔寨宣教2019-2020<br/>Cambodia Short-Term Mission Trip</h3>
			<h4>(Dec 27, 2019 - Jan 10, 2020)</h4>
			<A HREF="https://www.canadahelps.org/en/dn/42254" target="_blank"><IMG SRC="https://www.canadahelps.org/image/DonateNowLink/en/Donate5.png"
				 BORDER="0" ALT="Fundraise Now Through CanadaHelps.org!" /></A>
		</div>
	</div>
</section>

<section id="newsletter" class="newsletter" style="background-image: url({% include relative-src.html src= page.newsletter_background_image %});">
	<div class="container">
		<h2 class="editable">加入我们<br />Join us</h2>
		<p class="editable">Sign up to hear the latest news and progress in our mission in Cambodia.</p>
		<form action="{{ site.newsletter_action }}" method="post">
			<input type="text" name="EMAIL" placeholder="Email" />
			<input type="submit" value="Sign up" />
		</form>
	</div>
</section>